<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login or SignUp - EZBooking</title>
    <link rel="shortcut icon" href="https://hkuportal.hku.hk/favicon.ico">
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="{{ url_for('regist') }}" method="post">
          <h1>Create Account</h1>
          <input type="text" placeholder="Name" name="name" />
          <input type="text" placeholder="UID" name="id" />
          <input type="password" placeholder="Password" name="pw" />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="{{ url_for('login') }}" method="post">
          <p>{{result}}</p>
          <h1>Sign In</h1>
          <input type="text" placeholder="UID" name="id" />
          <input type="password" placeholder="Password" name="pw" />
          <button>Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              Please log in to your <strong>EZBooking</strong> account with your
              HKU UID
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>

          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>
              Enter your HKU UID and password to create a
              <strong>EZBooking</strong> account
            </p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
